---
import { links } from "@/data";
import Icon from "astro-iconify";

import logo from "@/assets/logo.png";
---

<nav
  transition:persist
  id="nav"
  class="md:py-8 fixed top-0 left-0 z-50 w-full py-5 transition-all duration-300"
>
  <div class="container flex items-center justify-between w-full">
    <a href="/" id="logo" class="w-[250px]">
      <img src={logo.src} alt="Logo" class="w-full" />
    </a>

    <ul class="md:flex items-center justify-between hidden">
      {
        links.map((link) => (
          <li class="linkItem">
            <a href={link.path} class="px-3 py-2 font-medium">
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
    <button id="menu" class="md:hidden">
      <Icon
        id="iconMenu"
        name="line-md:menu"
        size="48px"
        class="text-black transition-all duration-300 ease-in-out"
      />
    </button>
  </div>
</nav>

<div
  id="sideMenu"
  class="w-full h-full bg-slate-800 fixed top-0 left-[100%] z-40 duration-300 ease-in-out transition-all text-white"
>
  <div class="container flex flex-col items-center justify-center h-full">
    <ul class="flex flex-col items-center justify-between">
      {
        links.map((link) => (
          <li class="">
            <a
              href={link.path}
              class="inline-block text-center min-w-[120px] px-3 py-2 font-medium"
            >
              {link.text}
            </a>
          </li>
        ))
      }
    </ul>
  </div>
</div>

<script>
  function setupNavbar() {
    const nav = document.getElementById("nav") as HTMLElement;
    const logo = document.getElementById("logo") as HTMLElement;
    const linkItems = document.querySelectorAll(".linkItem");
    const sideMenu = document.getElementById("sideMenu") as HTMLElement;
    const menu = document.getElementById("menu") as HTMLElement;
    const iconMenu = document.getElementById("iconMenu") as HTMLElement;

    // Toggle menu function
    const toggleMenu = () => {
      sideMenu.classList.toggle("left-[100%]");
      sideMenu.classList.toggle("left-0");
      iconMenu.classList.remove("text-orange-500");
      iconMenu.classList.add("text-black");
    };

    // Add click event to menu button
    if (menu) {
      menu.addEventListener("click", toggleMenu);
    }

    // Add scroll event
    window.addEventListener("scroll", () => {
      if (window.scrollY > 50) {
        nav.classList.add("backdrop-blur", "bg-slate-800");
        linkItems.forEach((item) => item.classList.add("text-white"));
      } else {
        nav.classList.remove("backdrop-blur", "bg-slate-800");
        linkItems.forEach((item) => item.classList.remove("text-white"));
      }
    });

    // Add click event to close menu when clicking on links
    const sideMenuLinks = sideMenu.querySelectorAll("a");
    sideMenuLinks.forEach((link) => {
      link.addEventListener("click", () => {
        toggleMenu();
      });
    });
  }

  // Run setup on initial load
  setupNavbar();

  // Run setup after Astro page transitions
  document.addEventListener("astro:after-swap", setupNavbar);
</script>
