---
import Layout from "@/layouts/Layout.astro";
import { loadQuery } from "@/utils/loadQuery";

const slug = Astro.params.slug ?? "";

const { data: phone } = await loadQuery<{
  brand: string;
  name: string;
  slug: string;
  imgSrc: string;
  price: number;
  color: [];
  storage: [];
}>({
  query: `*[_type == "phone" && slug.current == $slug][0]
    {
    "brand": brand -> name,
      name,
      "slug": slug.current,
      "imgSrc": image.asset -> url,
      price,
      color,
    storage
    }`,
  params: { slug }, // Pasar slug como parámetro
});

const { brand, name, imgSrc, price, color, storage } = phone;
---

<Layout title={`${name} | Compres Comunicaciones`}>
  <section
    class="w-full py-10 md:grid-cols-2 container grid grid-cols-1 gap-5 lg:px-[100px] mx-auto place-items-start"
  >
    <img src={imgSrc} alt=`${name} imagen` class="xl:min-w-[600px]" />
    <div class="md:py-[50px] lg:py-[70px]">
      <h1 class="h2 mb-10">{name}</h1>
      <p class="mb-5">Marca: {brand}</p>
      <p class="">RD$ {price}</p>
      <p class="my-5">Color:</p>
      <ul class="flex w-full gap-2">
        {
          color.map((item: any) => (
            <li class="cursor-pointer hover:bg-sky-500 hover:text-white rounded-2xl inline px-4 py-2 border min-w-[60px] transition-all duration-300 ease-in-out">
              {item}
            </li>
          ))
        }
      </ul>
      <p class="my-5">Almacenamiento:</p>
      <ul class="flex w-full gap-2">
        {
          storage.map((item: any) => (
            <li class="cursor-pointer hover:bg-sky-500 hover:text-white rounded-2xl inline px-4 py-2 border min-w-[60px] transition-all duration-300 ease-in-out">
              {item} {item === 1 ? "TB" : "GB"}
            </li>
          ))
        }
      </ul>
    </div>
  </section>
</Layout>
